:root {

}

html {
    font-size: 10px;
}

body {
    font-size: 2rem;
}



/* aside */
aside {

}

.schedule {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    bottom: 100px;
    width: 8rem;
    height: 8rem;
    background: #0075D2;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
}

.side_menu {
    position: absolute;
    right: 0;
    background: #0075D2;
    width: 365px;
    height: 100%;
}

.close_btn {
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
    
}